@use "./root" as *;

.sponsors {
  width: 70%;
  @include sm() {
    width: 95%;
  }
  margin-inline: auto;
  padding-block: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;

  @include md() {
    justify-content: center;
    padding-block: 1.5rem;
  }
  img {
    width: 100px;
  }
}
